{% extends 'base.html.twig' %}

{% block title %}List of Users{% endblock%}


{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="">
            {% for msg in app.session.flashBag.get('success') %}
                <p style="color: red;">{{ msg }}</p>
            {% endfor %}
        </div>
    {% endif %}
   {% for user in users %}

       <div>
           <p>User ID: {{ user.id }}</p>
           <p>User name: {{ user.name }}</p>
           <br/>
       </div>

       {#{{ dump(user.name) }}#}

   {% endfor %}

{% endblock %}